Data/**

# Exclude everything in Rendered subfolders except 'all' folders
Quarto_files/Rendered/*/**
!Quarto_files/Rendered/*/all/
!Quarto_files/Rendered/*/all/**

# Then exclude what you don't want in 'all'
Quarto_files/Rendered/*/all/*.html
Quarto_files/Rendered/*/all/*_files/libs/
Quarto_files/Rendered/*/all/*_files/figure-html/

# Cache folder
Quarto_files/MergeData_cache/